# Terraform
**/terraform.tfvars
**/.terraform/
**/*.tfstate
**/*.tfstate.backup

# Python
**/venv/
**/__pycache__/
**/*.pyc
**/test.db

# Node.js
**/node_modules/
**/.next/
**/.env
**/.env.local

# Mac
.DS_Store
**/.DS_Store
